<div class="glide" id="glide">
	<div data-glide-el="track" class="glide__track">
		<ul class="glide__slides">
			{% for slide in collections.slides %}
			<li class="glide__slide">
				{% if slide.data.title %}
					<h2>{{ slide.data.title }}</h2>
				{% else %}
					Default slide title
				{% endif %}
				{% if slide.data.body %}
					<p>{{ slide.data.body }}</p>
				{% endif %}
				{% if slide.data.link %}
					<a href="{{ slide.data.link }}" class="btn">Read more</a>
				{% endif %}
				{% if slide.data.image %}
					<img src="{{ slide.data.image }}" alt="">
				{% else %}
					<img src="static/img/delineo-_web_banners_deliver.webp" alt="">
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="glide__arrows" data-glide-el="controls">
		<button class="glide__arrow glide__arrow--left" data-glide-dir="<">&#60;</button>
		<button class="glide__arrow glide__arrow--right" data-glide-dir=">">&#62;</button>
	</div>
</div>
