---
layout: layouts/base.njk
section: home
---

{% set slidelist = collections.slides %}
{% include "components/slideslist.njk" %}

{{ layoutContent | safe }}

{% set js %}
	{% include "assets/js/glide.min.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>
